#:schema node_modules/wrangler/config-schema.json
name = "8log-worker"
main = "src/index.ts"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB" # Name of the binding you will use in your worker code
database_name = "XXX" # Name of your D1 database
database_id = "XXX" # D1 database ID

[triggers]
crons = ["*/5 * * * *"]

[vars] wrangler deploy
OPENAI_API_KEY = "XXX"
TELEGRAM_BOT_TOKEN=XXX
TELEGRAM_CHAT_ID=XXX
SECURITY_CODE=XXX
TELEGRAM_CHANNEL_LINK="https://t.me/catalanNews8log"
SITE_URL="https://8log.ir"

# ✅ Staging environment -> wrangler dev --remote --env staging
[env.staging]
[[env.staging.d1_databases]]
binding = "DB"
database_name = "stage-XXX"
database_id = "XXX"
[env.staging.vars]
OPENAI_API_KEY = "XXX"
SECURITY_CODE="batman"
TELEGRAM_CHAT_ID="-111"
TELEGRAM_BOT_TOKEN="XXX"
SITE_URL="http://0.0.0.0:8000"
TELEGRAM_CHANNEL_LINK = "https://t.me/catalanNews8log"
